.calculator {
    background-color: var(--color-background);
    border-radius: var(--radius-main);
    display: flex;
    flex-direction: column;
    width: 500px;

    &__screen {
        min-height: 300px;
        flex: 1;
        position: relative;

        .theme-switcher {
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-50%);
        }
    }

    &__keypad {
        border-radius: var(--radius-main);
        background-color: var(--color-foreground);
        height: 50%;
        padding: 25px;
        width: 100%;
    }
}