.theme-switcher {
    background-color: var(--color-foreground);
    border-radius: 20px;
    display: flex;
    gap: 35px;
    padding: 14px 18px;
    width: fit-content;

    button:hover {
        cursor: pointer;
    }

    svg {
        height: 20px;
    }

    .theme-light & {
        fill: #DDDDDD;

        button.active {
            fill: #161A23;
        }
    }

    .theme-dark & {
        fill: #74767C;

        button.active {
            fill: #EBEBEC;
        }
    }
}