.wrapper {
    align-items: center;
    background-color: #E7E8E8;
    display: flex;
    height: 100%;
    justify-content: center;
    width: 100%;

    --radius-main: 35px;

    &.theme-light {
        --color-background: #FFFFFF;
        --color-foreground: #F9F9F9;
        --color-item: #F7F7F7;
    }

    &.theme-dark {
        --color-background: #22252D;
        --color-foreground: #292D36;
        --color-item: #272B33;
    }

}
